@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Notable&family=PT+Serif+Caption&family=Russo+One&display=swap');

:root {
    font-size: 20px;
    --green: rgb(39, 103, 93);
    --white: rgb(255, 255, 255);
    --a: #222222;
    --gray: #909090;
    --orange: #e0a957;
    /*--white: #faf6ef;*/
}

html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

p {
    line-height: 140%;
}

img {
    max-width: 100%;
}

body {
    width: 100%;
    /*min-width: 320px;*/
    overflow-x: hidden;
    /*height: auto;*/
    /*position: relative;*/
    background-color: var(--a);
    font-family: 'Inter', serif;
    color: var(--gray);
    letter-spacing: 0.7px;
    /*font-family: 'PT Serif Caption', serif;;*/
}


.nav {
    width: 100%;
    height: 75px;
    box-shadow: 0 4px 10px var(--orange);
}

.nav__container {
    margin: 0 auto;
    width: 80%;
    height: inherit; /* высота зависит от родителя */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*align-content: center;*/
}

.nav__burger {
    display: none;
}

.nav__list {
    display: inline-block;
}

/* отступ сбоку (справа), берем все, кроме последней ссылки*/
.nav__link {
    display: inline-block;
    color: var(--white);
    padding: 20px;
}

.nav__link:hover {
    color: var(--orange);
}

.nav__logo {
    font-weight: 700;
    font-size: 26px;
    cursor: pointer;
    font-family: Notable, sans-serif;
}

.nav__logo span {
    align-items: center;
    color: var(--orange);
}

li #signing {
    /*margin-right: 100px;*/
    /*border-radius: 100px;*/
}


.first--page, .info-about-us, .info-about-us, .using {
    width: 80%;
    margin: 0 auto;
}

.first--page__content {
    width: 80%;
    display: flex;
    column-gap: 50px;
    flex-direction: row;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    padding: 50px 0;
    /*по главное оси (горизонт)*/
    justify-items: center;
    /*по вертикальной оси*/
    align-items: center;
}

.first--page__image {
    width: inherit;
    height: inherit;
}

.first--page__article {
    width: 80%;
}

.first--page__name {
    color: var(--orange);
    font-size: 300%;
    margin-bottom: 30px;
    line-height: 30px;
}

.first--page__common {
    color: var(--white);
    font-size: 120%;
    margin-bottom: 30px;
    line-height: 30px;
}

.first--page__description {
    margin-bottom: 30px;
}

.first--page__button {
    display: inline-block;
    width: 160px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    /*letter-spacing: 3px;*/
    font-weight: 600;
    color: var(--a);
    background: var(--white);
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.first--page__button:hover {
    background: var(--orange);
    box-shadow: 0 15px 20px rgb(224, 169, 87, 0.4);
    color: white;
    transform: translateY(-7px);
}

.line-down {
    margin: 0 auto;
    text-align: center;
    /*display: grid;*/
    /*position: relative;*/
    transform: translateY(-30%);
    /*justify-items: center;*/
    /*align-items: center;*/
}

.first--page____line-image {
    width: 20%;
}

/*.line-down-width {*/
/*    margin: 100px auto 0;*/
/*    width: 40%;*/
/*}*/

/*.line-down-width-2 {*/
/*    margin: 0 auto 100px;*/
/*    width: 40%;*/
/*}*/

.info-about-us__head {
    text-align: center;
    padding-bottom: 100px;
}

.info-about-us__header, .using__header {
    text-transform: uppercase; /* Регистр символов */
    letter-spacing: 2px;
    color: var(--white);
}

.info-about-us__section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    /*height: 40vh;*/
    /*align-content: space-around;*/
    /*padding: 0 100px;*/
}

.info-about-us__item {
    display: grid;
    /*grid-template-columns: repeat(2, 1fr);*/
    gap: 30px;
    justify-items: center;
    align-items: center;
}

.info-about-us__image-div {
    height: inherit;
}

/*.info-about-us__image {*/
/*    width: 30%;*/
/*}*/

.info-about-us__h3 {
    color: var(--orange);
    padding: 0 0 20px;
}

.rectangle {
    height: 100px;
}

.using {
    margin-top: 50px;
}

.using__article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*по главное оси (горизонт)*/
    justify-items: center;
    /*по вертикальной оси*/
    align-items: center;
}

.bold-and-white {
    font-weight: bold;
    color: var(--white);
}

.using__li {
    /*vertical-align: middle; !* Вертикальное выравнивание текста *!*/
    letter-spacing: 2px; /* Разрядка между символами */
    word-spacing: 4px; /* Разрядка между словами */
    padding-bottom: 20px;
}

.using__p-in-li {
    margin: 20px;
}

.quote {
    display: grid;
    align-content: space-evenly;

    height: 800px;
    /*max-width: 1200px;*/
    margin: 0 auto;
    background-image: url("../img/map.png");
    background-repeat: no-repeat; /* Запрет повторения фонового изображения */
    background-position: center center;
}

.quote__text {
    padding: 20px 30px 30px;
    text-align: center;
    /*font-size: 2em;*/
    background-color: var(--white);
    border-radius: 30px;
}

.quote__wrap {
    display: flex;
    align-items: center; /* Выравнивание элементов по вертикали по центру */
}

footer {
    background-color: var(--green);
}

footer p {
    letter-spacing: 1px; /* Разрядка между символами */
    /*font-size: 1.3em;*/
    color: var(--white);;
    padding: 30px 0;
    text-align: center;
    font-weight: bold;
}