@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

/* стили для всего документа */
* {
    margin: 0;
    padding: 0;
    /*обводки вокруг формочек*/
    outline: none;
    line-height: 140%;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    background-color: antiquewhite;
    font-family: Trebuchet MS, Helvetica, serif;
}

header {
    width: 100%;
    padding: 10px 0 0;
    background: rgba(250, 235, 215, 0.85);
    /*при скролинге тоже остается и скролится*/
    position: fixed;
}


header #logo {
    color: black;
    /*при наведении на лого курсор будет активен*/
    cursor: pointer;
}

header #logo span {
    font-size: 2em;
    /*устанавливает величину пространства между строками, например в тексте*/
    line-height: 45px;
    margin-left: 45px;
    font-family: "Roboto Light", serif;
}


/* ширина логотипа*/
/* media - добавляют адаптивности к сайту */
@media (min-width: 701px) {
    #logo {
        float: left;
        width: 30%;
        font-size: 1.1em;
    }

    #menu {
        float: right;
        width: 67%;
    }
}

@media (max-width: 700px) {
    #logo {
        margin-top: 15px;
        width: 100%;
        font-size: 1.5em;
    }

    #menu {
        float: left;
        width: 100%;
    }
}

#menu {
    text-align: center;
    font-size: 1em;
    line-height: 40px;
    margin-bottom: 10px;
}

#menu > a {
    color: black;
    text-decoration: none;
}


/* стили при наведении (hover) */
#menu > a:hover {
    color: #333333;
}


/* отступ сбоку (справа), берем все, кроме последней ссылки*/
#menu > a:not(:last-child) {
    margin-right: 12%;
}


footer {
    background-color: #333;
    color: antiquewhite;
    text-align: center;
    padding: 10px 0;
    /*position: absolute;*/
    width: 100%;
}


#top {
    width: 100%;
    height: 800px;
    background-color: antiquewhite;
    text-align: left;
    color: black;
}

#middle {
    width: 100%;
    background-image: url("../img/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: rgb(210, 140, 109);*/
    color: black;
    padding-bottom: 35px;
}


#top h1 {
    padding-bottom: 4%;
    line-height: 140%;
    font-size: 3em;
    font-weight: normal;
}

.description {
    font-weight: normal;
}

p {
    line-height: 160%;
}

#top p {
    color: rgba(51, 51, 51, 0.92);
}

input {
    text-align: center;
    margin-top: 10%;
    padding: 2% 3%;
    font-size: 1.7em;
    color: antiquewhite;
    background-color: rgb(210, 140, 109);
    border: 1px solid transparent;
    border-radius: 7px;
    cursor: pointer;
}

#signing {
    /*color: antiquewhite;*/
    padding: 1% 2%;
    border: 1px solid #000;
    border-radius: 7px;
    background-color: transparent;
}

img {
    /*position: relative; - с этим оно бы перекрывало меню при скролинге */
    border-radius: 10px;
    display: block;
    width: 600px;
    height: auto;
}

#middle .middleImg {
    width: 200px;
    align-items: center;
    padding: 0 20%;
}

.container {
    display: flex;
    padding: 0 7%;
    width: auto;
    align-items: stretch;
}

#top .container {
    padding: 7%;
}

@media (max-width: 1200px) {
    .container {
        flex-direction: column;
    }

    #top {
        height: 1120px;
    }
}

.column {
    padding: 7% 30px 0;
    width: calc(50% - 10px);
}

.column .point {
    padding: 35px 100px 0;
}

code {
    color: crimson;
    background-color: #f1f1f1;
    padding: 2px;
    font-size: 105%;
}

.styled-list li {
    padding: 5px 0;
}

.list h1, .aboutUs {
    padding-top: 50px;
    text-align: center;
    font-size: 2em;
}

.styled-list ol {
    padding: 10px 20% 0 35%;
}

.quote {
    padding: 0 0 35px 30%;
}

blockquote {
    border-left: solid 3px #333;
    padding-left: 1px;
}

blockquote p {
    border-left: solid #666 1px;
    padding: 15px;
    color: #333;
    font-size: 1.5em;
}

aside {
    display: flex;
    align-items: center;
    float: right;
    font-style: italic;
    color: rgb(141, 83, 56);
}

aside > span {
    padding: 10px;
    box-shadow: inset 5px 0 5px -5px rgb(89, 40, 18);
}

